// vars
$color_green:               #0c8543;
$color_light-green:         #F3F9F6;
$color_light-gray:          #F6F6F6;
$settings_border-radius:    8px;


body {
    font-family: 'Montserrat', sans-serif;
}

/********************************************************* Common */
.blockMargin {
    margin-bottom: 60px;

    @media (max-width: 767px) {
        margin-bottom: 35px;
    }
}

img {
    max-width: 100%;
}

p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;

    @media (max-width: 767px) {
        font-size: 16px;
    }
}

h1 {
    font-weight: 600;
    font-size: 45px;
    line-height: 1.5;
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

    span {
        font-weight: 700;
        color: $color_green;
    }

    @media (max-width: 767px) {
        font-size: 22px;
    }
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 1.3;
    color: #000000;
    margin-bottom: 14px;

    @media (max-width: 767px) {
        font-size: 20px;
    }
}




/********************************************************* Cards */
.blockCards {
    display: flex;
    flex-wrap: wrap;

    .blockCards__element {
        background: $color_light-green;
        border: none;
        font-size: 21px;
        font-weight: 500;
        padding: 32px 18px;

        img {
            height: 60px;
        }
    }

    @media (min-width: 576px) {
        margin-left: -10px;
        margin-right: -10px;

        .blockCards__element {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    @media (max-width: 992px) {
        margin-left: -4px;
        margin-right: -4px;

        .blockCards__element {
            flex: 1 0 calc(50% - 8px);
            margin: 4px;
        }

    }
}



/********************************************************* Articles */
.blockArticles {
    padding: 60px 0;
    margin-bottom: 60px;
    background: $color_light-green;

    &__element {
        &:not(:last-child) {
            margin-bottom: 40px;
        }

        &:nth-child(even) {
            .blockArticles__element-info {
                padding-left: 15px;
            }
            .blockArticles__element-media {
                padding-right: 15px;
            }
        }

        &:nth-child(odd) {
            .blockArticles__element-info {
                padding-right: 15px;
            }
            .blockArticles__element-media {
                padding-left: 15px;
            }
        }
    }

    &__element-info {
        width: 50%;
        h3 {
            margin-bottom: 12px;
        }

        p {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.5;
            color: #000000;
        }
    }
    &__element-media {
        width: 50%;
        position: relative;
        img {
            border-radius: $settings_border-radius;
        }
    }

    &__mesh-icon {
        position: absolute;
        top: -20px;
        right: -20px;
        text-align: right;
        img {
            width: 50%;
            max-width: 50%;
        }

        @media (max-width: 767px) {
            top: 20px;
            right: 20px;
        }
    }

    @media (max-width: 767px) {
        padding: 35px 0;

        &__element {

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &:nth-child(even) {
                .blockArticles__element-info {
                    padding-left: 0;
                    width: 100%;
                    order: 1;
                }
                .blockArticles__element-media {
                    padding-right: 0;
                    padding-top: 20px;
                    width: 100%;
                    order: 2;
                }
            }

            &:nth-child(odd) {
                .blockArticles__element-info {
                    padding-right: 0;
                    width: 100%;
                    order: 1;
                }
                .blockArticles__element-media {
                    padding-left: 0;
                    width: 100%;
                    order: 2;
                }
            }

        }
    }
}


/********************************************************* Low prices */
.blockLowPrices {
    margin-top: 25px;
    margin-bottom: 60px;

    &__element {
        background: $color_green;
        border: none;
        border-radius: $settings_border-radius;

        img {
            border-radius: $settings_border-radius;
        }

        span {
            font-size: 21px;
            color: #fff;
            padding: 15px;
        }
    }

}



/********************************************************* Warranty block */
.blogWarranty {
    background: $color_light-gray;
    margin-bottom: 60px;

    &__shtamp {
        min-width: 255px;
        position: relative;
        img {
            top: -14px;
            left: 0;
            position: absolute;

        }
    }
    &__text {
        padding: 56px 0 56px 40px;
        width: calc(100% - 255px);

        h3 {
            span {
                color: $color_green;
            }
        }

        p {
            margin-bottom: 0;
        }
    }

    @media (max-width: 992px) {
        &__text {
            padding: 28px 0 28px 40px;
        }
    }

    @media (max-width: 767px) {
        &__shtamp {
            min-width: 100%;
            text-align: center;
            padding-top: 36px;

            img {
                position: static;
            }
        }
        &__text {
            width: 100%;
            padding: 22px 0 35px 0;
            text-align: center;
        }
    }
}



/********************************************************* Footer */
.blockFooter {
    background: $color_green;
    color: #fff;

    &__logo {

    }

    &__nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            li {
                margin: 0 15px;
                a {
                    color: #fff;
                    text-decoration: underline;
                    font-size: 14px;
                }
            }
        }
    }

    &__copyright {
        font-size: 12px;
    }

    @media (max-width: 992px) {
        .container {
            text-align: center;
            flex-wrap: wrap;
        }
        &__logo {
            width: 100%;
            margin-bottom: 25px;
        }

        &__nav {
            width: 100%;
            text-align: center;
            margin-bottom: 25px;

            ul {
                flex-direction: column;
                justify-content: center;
            }
        }

        &__copyright {
            width: 100%;
            text-align: center;
            font-size: 12px;
            br {
                display: none;
            }
        }
    }
}